<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="someSettings" type="ChameleonConfig.AppConfig.NameValueSection, ChameleonConfig"/>
  </configSections>

  <appSettings>
    <add key="Test" value="1"/>
    <add key="Invalid" value="A"/>
  </appSettings>
  <someSettings>
    <nameValues>
      <add name="PropertyOne" value="1"/>
    </nameValues>
  </someSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
